/**
 * Mixins / Helpers
 */

@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

%fullscreen {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
